{% extends '::layout.html.twig' %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="text-center">
            <h2 class="error">404</h2>
            <p class="lead">Sorry your requested page not exist</p>
        </div>
    </div>
</div>
{% endblock %}