<div id="sb-search" class="sb-search">

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <span class="sb-icon-search" title="Click to start searching"></span>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>