{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block side_bar_after_nav_content %}
    {#<a href="https://sonata-project.org" rel="noreferrer" target="_blank">sonata project</a>#}
{% endblock %}