
/*Réduction du padding de la section centrale (page)*/
#content {
    padding: 30px 0 40px 0;
}

/*Réduction des marges haut et bas pour la barre tout en haut*/
header .top {
    padding: 10px 0;
}


/*Amincissement de la barre avec le breadcrumb*/
#inner-headline .row, #inner-headline .row-fluid {
    margin-bottom: 0px;
}
#inner-headline ul.breadcrumb {
    margin: 20px 0 0;
}

/*Amincissment du footer*/
footer {
    padding: 20px 0 0 0;
}
#sub-footer {
    margin: 0 0 0 0;
}