{%  extends "::layout.html.twig" %}

{%  block title 'Recipe from feedYourTod' %}

{%  block contentTitle %}
    <h1>Your children</h1>
{%  endblock %}

{% block content %}

    <ul>
        {% for child in children %}
            <li>
                {{ child.firstName }} - <a href="{{ path('app_new_childfood', {id:child.id}) }}">Add tag</a><br/>
            </li>
        {% endfor %}
    </ul>


{% endblock %}

