{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <img src="http://fidzekids.com/wp-content/uploads/2017/03/VR-blog-1.jpg" alt="" />
        </div>

        {{ cms_block('homepage') }}
    </div>
{% endblock %}
