{%  extends "::layout.html.twig" %}

{%  block title 'Recipe from feedYourTod' %}

{%  block contentTitle %}
  <h1>{{ recipe.name }}</h1>
{%  endblock %}

{% block content %}

    {{ recipe.cantent }}.

{% endblock %}


