{% extends "::layout.html.twig" %}

{% block title 'Liste des menus' %}

{% block header %}
<h1>Liste des menus</h1>
{% endblock %}

{% block content %}
    {% for menu in menus %}
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{{ path('app_menu_id', {'id': menu.id}) }}">{{ menu.name }}</a>
            </div>
        </div>
        {% else %}
        aucun menu
    {% endfor %}

{% endblock %}